@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@font-face{
    font-family: "icons";
    src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format(svg),
    url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
:root{
    --fs-xxl:3rem;
    --fs-xl2:2.75rem;
    --fs-xl1:2.5rem;
    --fs-xl: 2rem;
    --fs-800: 1.75rem ;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem ;
    --fs-400: 0.75rem ;
    --fs-300: 0.5rem;
    --fs-200: 0.25rem;
}
body{ 
    font-family: 'Encode Sans', 'Roboto', sans-serif;
}
.navbar{

    a{
    font-family: 'Dosis', sans-serif ;
    color: white;
    font-size: var(--fs-500);
}
}
#banner h1{
    font-family: 'Dosis', sans-serif ;
    letter-spacing: 2px;
    font-size: var(--fs-xl);
}
#text-cover #letra{
    font-family: 'Dosis', sans-serif ;
    color: white;
    text-align: right;
    position: absolute;
    font-size: var(--fs-800);
    letter-spacing: 1px;
    width: 24%;
    line-height: 2rem;
    font-weight: 400;
    animation: carouselmainmovement 40s linear infinite forwards;    
}
#letra:after{
    animation: carouselmain 40s linear infinite forwards;
    content: "Nos importa demasiado el mundo para verlo desalmado";
}
#text-cover #cancion{
    font-family: 'Dosis', sans-serif;
    color: hsl(0, 78%, 39%);
    text-align: right;
    position: absolute;
    font-size: var(--fs-800);
    letter-spacing: 1px;
    width: 24%;
    line-height: 2rem;
    font-weight: 300;
    animation: carouseltextmovement 40s linear infinite forwards;
}
#cancion:after{
    animation: carouseltext 40s linear infinite forwards;
    content: "-De Infancia y Audacia";
    
}
@keyframes carouseltextmovement{    
    0%{
        bottom: 55%;
        right: 7.5%;
    }
    5%{
        bottom: 55%;
        right: 5%;
    }
    20%{
        bottom: 25%;
        right: 60%;
        text-align: left;
    }
    30%{
        bottom: 25%;
        right: 70%;
    }
    45%{
        bottom:25%;
        right: 10%;
        text-align: right;
    }
    55%{
        bottom:25%;
        right: 5%;
    }
    70%{
        right:60%;
        bottom: 55%;
        text-align: left;
    }
    80%{
        right:70%;
        bottom: 55%;
    }
    95%{
        bottom: 55%;
        right: 10%;
        text-align: right;
    }
    100%{
            bottom: 55%;
            right: 7.5%;
        }

}
@keyframes carouseltext {
    0%{opacity: 1;}
    5%{opacity: 0;}
    20% {opacity: 0;}
    25%{opacity: 1;
        content: "-Bailarina";}
    30%{opacity: 0;}    
    45%{opacity: 0;}
    50%{opacity: 1;
        content: "-Barro";}
    55%{opacity: 0;}    
    70%{opacity: 0;}
    75%{opacity: 1;
        content: "-Relevo de Pruebas";}
    80%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1;}
    
}
@keyframes carouselmainmovement{    
    0%{
        bottom: 60%;
        right: 7.5%;
    }
    5%{
        bottom: 60%;
        right: 5%;
    }
    20%{
        bottom: 30%;
        right: 60%;
        text-align: left;
    }
    30%{
        bottom: 30%;
        right: 70%;
    }
    45%{
        bottom:30%;
        right: 10%;
        text-align: right;
    }
    55%{
        bottom:30%;
        right: 5%;
    }
    70%{
        bottom: 60%;
        right:60%;
        text-align: left;
    }
    80%{
        bottom: 60%;
        right:70%;
    }
    95%{
        bottom: 60%;
        right: 10%;
        text-align: right;
    }
    100%{
        bottom: 60%;
        right: 7.5%;
    }
}
@keyframes carouselmain {
    0%{opacity: 1;}
    5%{opacity: 0;}
    20% {opacity: 0;}
    25%{opacity: 1;
        content: "Pero no hay esperanza en el papel, si cargamos la desidia en la piel";}
    30%{opacity: 0;}    
    45%{opacity: 0;}
    50%{opacity: 1;
        content: "Es la ofrenda de mi barrio, regalarse siempre yuyos con espinas";}
    55%{opacity: 0;}    
    70%{opacity: 0;}
    75%{opacity: 1;
        content: "Debia ser la mia si era ella libertad, como enfrentar al carcelero de mis años mas modestos";}
    80%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1;}
    
}
#biografy-title,
#biografy-text{
    h3, p{
        font-family: 'Dosis', sans-serif;
    }
}
#contact{
    #msg{
        font-family: 'Dosis', sans-serif ;
        font-size: var(--fs-800);
    }
    .footer{
        #redes{
            font-family: 'Dosis', sans-serif ;
        }
        #authors{
            font-family: 'Dosis', sans-serif ;
        }
    }
}