body {
    background-color: black
    
}
.container{
    background-color: black;
}
.navbar{
    background-color: hsl(0, 64%, 28%);
}
#banner h1{
    background-color: hsl(0, 64%, 28%);
    color: white;
}
#biografia{
    
    background-color: white;
}